* {
    font-family:'Andale Mono';
}

.container {
    /* to contain floated children */
    /*overflow: hidden;*/
    display: flex;
}

.debug-dude {
    min-height: 5vh;
}

.node-dude {
    min-height: 5vh;
}

.field-dude {
    max-height: 90vh;
}

.align-left {
    margin-right: 10px;
    align-self: center;
}

.align-right {
    margin-left: auto;
    margin-right: 50px;
    align-self: center;
}

#field {
    /* for new line char to work */
    white-space: pre-line;
    font-size: 2.5vh;
}

#info {
    white-space: pre-line;
    align-self:start;
}
